.edu-primary{ color:#9c27b0;  }
body, .form-control{background-color:lavender;}
h1 { font-family: serif;}
.edu-active { }
input[type=checkbox]:checked + span{ text-decoration: line-through; }
nav a { color: inherit; }
